{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Ajout d'une suite</h2>
            <h3 class="littleTitle">Succés</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="successOne">
        <div class="explainSuccess">
            <h2>Vous avez modifié votre suite.</h2>
            <p>La suite est dés à présent mis à disposition des utilisateurs, afin d'être reservée et visitée. De votre côté, il vous est permis
                d'un créer d'autres. </p>
        </div>
        <div class="buttonSuccess">
            <button type="button" class="buttonAcceuil"><a href="{{ path('app_liste_etablissement') }}">Liste des hotels</a></button>
            <button type="button" class="buttonAcceuil"><a href="{{ path('app_home') }}">Retour Acceuil</a></button>
            </button>
        </div>
    </div>

{% endblock %}
