{% extends 'layout.html.twig' %}
{% block title %}}{{ title }}{% endblock %}
{% block body %}

    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Changement de mote de passe</h2>
            <h3 class="littleTitle">Réussite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
<!--Template successOne -->
    <div class="successOne">
        <div class="explainSuccess">
            <h2>Vous avez changé de mote de passe.</h2>
            <p>Vous pouvez maintenant créer des suites dans le bâtiment qui vous a été désigné,
                et maintenant naviguer en toute sécurité sur le site.</p>

        </div>
        <div class="buttonSuccess">
            <button type="button" class="buttonAcceuil"><a href="{{ path('app_suite_create') }}">Creation Suite</a></button>

            <button type="button" class="buttonAcceuil"><a href="{{ path('app_home') }}">Retour Acceuil</a></button>

            </button>
        </div>
    </div>
{% endblock %}
