

//Pallette couleur

  // Marron
$marronLight: #eee6d6;
$marronMedium: #c8b48f;
$marronDark: #625f48;



//Font-family:

  //Title
$title: 'Bai Jamjuree', sans-serif;
  //Subtitle
$subTitle: Consolas, serif;
  //Buttons
$button: Consolas, sans-serif;
  //Text1
$textOne: Oswald, sans-serif;