@import '../../node_modules/bootstrap/scss/bootstrap';
@import '_design';


// *
body {
  margin: auto;
  position: relative;
}
nav {
  background-image: url("../../public/picture/banque-image/nav-footer/BackNav-Blue3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  min-width: 100%;
  width: 100%;
  height: 15em;
  left: 0;
  top: 0;
  right: 0;
  .listeNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    img {
      margin: 20%;
      &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
footer {
  background-image: url("../../public/picture/banque-image/nav-footer/BackFooter-Blue.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: 0;
  right: 0;
  width: 100%;
  background-size: 100%;

  .listeFooter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    img {
      margin: 5%;
    }
  }
  .iconesStudy {
    display: flex;
    align-items: center;
    justify-content: center;

    .footerStudy {
      text-align: center;
    }
    p {
      color: $blueBorder;
    }
  }
  .returnTop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4%;
    font-size: 28px;
    color: $marronLogo;
    a {
      text-decoration: none;
      color: $marronLogo;
      font-family: $button;
      font-weight: lighter;
      font-size: 16px;
    }
    img {
      color: $marronDark;
    }
  }
}


//Page d'accueil

.accueil {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  margin: auto;
  background-image: url('../../public/picture/banque-image/acceuil/Back-HypnosAccueil.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
  clear: both;
  height: 35em;
  .titleHypnos {
    h1 h2 {
      margin-right: 15%;
      display: flex;
      justify-content: start;
      align-items: center;
      z-index: +1;
      padding: 10%;
      float: left;
    }
    h1 {
      background-color: white;
      font-weight: bolder;
      color: black;
      font-size: 125px;
    }
    h2 {
      color: black;
      text-shadow: 2px 0px 8px rgb(236, 244, 236);
      font-size: 30px;
    }
  }
}
.presentation {
  margin: 10%;
  display: flex;
  flex-direction: row;
  p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: $textOne;
  }
  button {
    margin: auto;
  }
}
.contactHome {
  margin: 10%;
  flex-direction: row;

  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: $textOne;
  }

}
.carousel {
  width: 80%;
  margin: auto;
}

//Forms

.customFormPic {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/register-pick.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
}
.customFormpic2 {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/suite-pick.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
}
.customFormManager {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/manager.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
}
.customContactUsPic {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/contact-us.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
  margin: auto;
  width: 60%;
  }
}
.customChangePassword {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/back-change-password2.png");
  background-repeat: no-repeat;
  background-position: center right 20%;
  width: 100%;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
    margin: auto;
    width: 60%;
  }
}
.loginForm {
  background-image: url("../../public/picture/banque-image/picture-form/register-pick.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 70%;
  margin: auto;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  .form-group {
    width: 80%;
    margin: auto;
  }
  .email {
    margin-top: 20%;
  }
  .password {
    margin-bottom: 20%;
  }
  .errorLogin {
    background-color: white;
  }
  #emailHelp {
    background-color: white;
  }
}

//Redirect
.successOne {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/redirect/back-change-password.png");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .explainSuccess {
    margin-left: 15%;
    text-align: center;
      h3 {
        font-family: $subTitle;
      }
      p {
        font-family: $textOne;
      }
  }

  .buttonSuccess {
    margin: 5%;
    button {
      margin-top: 6%;
    }
  }
}
//Composants

  //Titre1
.titleCustom {
  .tittleList {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    vertical-align: bottom;
    margin: 5% auto 0px;
  }
  .title {
    font-size: 45px;
    background-color: $marronLight;
    text-align: center;
    font-family: $title;
    //: 2px solid #786f58;
    padding: 1%;
  }
  .littleTitle {
    background-color: $marronMedium;
    font-size: 20px;
    text-align: center;
    //border: 2px solid $marronDark;
    font-family: $subTitle;
    padding: 1%;

  }
  .barreHorizontale {
    position: relative;
    width: 90%;
    background-color: $marronMedium;
    height: 2px;
    float: top;
    margin: 0px auto 5%;
  }
}
  //Bouton nav
.buttonNav {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  font-size: 16px;
  font-family: $button;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: auto;
  border: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $marronLight;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $marronMedium;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: $marronLogo;
  }
}
  //Bouton Acceuil
.buttonAcceuil {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 13em;
  height: 5em;
  &:hover,
  &:active {
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
  &:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  &:hover:before {
    background-color: #6DCFF6;
  }
  a {
    font-family: $button;
    text-decoration: none;
    color: $blueBorder;
    font-size: 1.6em;
    font-weight: bold;
  }
}
//Bouton SendForm
.buttonSendForm {
  background: $marronLight;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    transform: scale(1.05);
  }
  &:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  &:focus {
    outline: 0 solid transparent;
  }
  &:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  &:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  &:focus:not(:focus-visible):before {
    border-width: 0;
  }
  &:not(:disabled):active {
    transform: translateY(.125rem);
    background-color: $marronDark;
  }
  a {
    text-decoration: none;
    color: $marronLogo;
    border: none;
  }
}
  //Autre Bouton ( a enlever ? )
.buttonOne {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: $button;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #79dfc3;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#79dfc3, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: #2c3034;
  }
}




  //Background decoration
.backPic {
  background-image: url('../../public/picture/banque-image/nav-footer/test-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

// Media Query (mobileFirst)
@media screen and (min-width: 970px) {
  nav {
    height: 20em;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    background-image: url("../../public/picture/banque-image/nav-footer/BackNav-BlueResponsiveDesktop2.png");
  }
  footer {
    background-image: url("../../public/picture/banque-image/nav-footer/BackFooter-BlueReponsiveDesktop.png");
  }
  .buttonAcceuil {
    width: 20em;
    height: 8em;
    padding: 16px 32px;
  }
}







