@import '../../node_modules/bootstrap/scss/bootstrap';
@import '_design';



body {
  margin:0;
  padding:0;
  height:100%;
}                  // * //
nav {
  background-image: url("../../public/picture/banque-image/nav-footer/BackNav-Blue3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  min-width: 100%;
  width: 100%;
  height: 15em;
  left: 0;
  top: 0;
  right: 0;
  .listeNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .listeButtons {
      margin: 4%;
    }
    img {
      margin: 20%;
      &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  height: auto;
  right: 0;
  margin-bottom: 0%;
  .backFooter {
    background-image: url("../../public/picture/banque-image/nav-footer/BackFooter-Blue.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    z-index: -1;
    bottom: 0;
    background-size: 100%;
  }
  .listeFooter {
    z-index:+1;
    bottom: 0;
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    height: 20em;
    position:absolute;
    width: 100%;
    img {
      margin: 5%;
    }
  }
  .iconesStudy {
    display: flex;
    align-items: center;
    justify-content: center;

    .footerStudy {
      text-align: center;
    }
    p {
      color: $blueBorder;
    }
  }
  .returnTop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4%;
    font-size: 28px;
    color: $marronLogo;
    a {
      text-decoration: none;
      color: $marronLogo;
      font-family: $button;
      font-weight: lighter;
      font-size: 16px;
    }
    img {
      color: $marronDark;
    }
  }
}
.accueil {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  margin: auto;
  background-image: url('../../public/picture/banque-image/acceuil/back-accueil3.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
  clear: both;
  height: 35em;
  .titleHypnos {
    h1 h2 {
      margin-right: 15%;
      display: flex;
      justify-content: start;
      align-items: center;
      z-index: +1;
      padding: 10%;
      float: left;
    }
    h1 {
      background-color: white;
      font-weight: bolder;
      color: black;
      font-size: 125px;
    }
    h2 {
      color: black;
      text-shadow: 2px 0px 8px rgb(236, 244, 236);
      font-size: 30px;
    }
  }
}               //Page d'accueil//
.presentation {
  margin: 10%;
  display: flex;
  flex-direction: row;
  p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: $textOne;
  }
  button {
    margin: auto;
  }
}
.carousel {
  width: 80%;
  margin: auto;
  max-height: 500px;
  img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
  h5 {
    color: white;
    font-size: 3.1em;
    text-shadow: 2px 2px 10px rgba(206,89,55,0)
  ;
  }
  p {
    color: white;
    font-size: 1.5em;
  }
}
.hotelId {
  .customHotelId {
    display: flex;
    justify-content: center;
    margin: auto;
    img {
      z-index: +1;
      margin: auto;
      width: 80%;
    }
  }
  h3 {
    width: 90%;
    text-align: end;
    font-family: $button;
    color: $marronMedium;
    text-decoration: underline 1px solid $marronLight;
  }
  .customHotelIdExplain {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    .customHotelIdExplain1 {
      width: 49%;
      margin: auto;
      text-align: start;

      p {
        margin-left: 10%;

      }
    }
    .customHotelIdExplain2 {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: end;
      img {
        width:35%;
        height:35%;
        max-width: 35%;
        max-height: 35%;
        margin: 1%;
      }
    }
    h4 {
      font-size: 1.4em;

    }
  }


}                //Hotel ID//
.roomId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto auto 15%;
  width: 90%;
  img {
    max-width: 90%;
    max-height: 85%;
    width: 90%;
    height: 85%;
    margin: auto;
  }
  .suiteIdGalerie {
    width: 90%;
    img {
      display: inline-block;
      width: 32%;
      height : auto;
      margin: auto;
    }
  }
  .suiteIdDesc {
    .suiteIdDescListButton {
      display: flex;
      margin: auto;
      justify-content: space-around;
      align-items: center;
      .suiteIdDescList {
        margin: 4%;
      }
      .suiteIdDescButton {
        margin: 6%;
        button {
          margin: 20%;
        }
      }
    }


  }
  h4 {
    width: 100%;
    position: relative;
    z-index: +1;
  }
}                 //Room ID//
.customListe {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: auto auto 4%;

  .customListeSuitePicButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: auto;
    img {
      width: 80%;
      height: 60%;
      max-width: 80%;
      max-height: 60%;
    }
    button {
      margin-top: 4%;
      font-size: 1.2em;
      color: $marronDark;
    }
  }
  .customListeSuiteDesc {
    width: 45%;
  }
  h4 {
    font-size: 2.6em;
    margin-bottom: 3%;
    text-align: center;
  }
}            //ListeRoom//
.gestion {
  .gestionPres{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    .gestionPresP {
    width: 45%;
    font-size: 1.2em;
    font-family: $textOne;
    color: black;
    text-align: center;
    background-color: $blueNav;
    }
    .gestionPresList {
      width: 34%;
      margin: auto;
      li {
        font-size: 1.3em;
        font-family: $button;
      }
    }
  }
  //Gestion ADMIN
  .gestionAdminTableHotelManager {
    background-image: url('../../public/picture/banque-image/back/back-hotel-id.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    table {
      width: 90%;
      margin: auto;
      border: $blueBorder;
      thead {
        text-decoration: underline 1px solid $marronLight;
        color: $marronLogo;
        font-family: $button;
        font-size: 1.5em;
        padding: 2%;
      }
      tbody {
        font-family: $textOne;
        font-size: 1.3em;
        width: 80%;
      }
    }
  }
  .gestionUserTableHotel {
    background-image: url('../../public/picture/banque-image/back/back-table.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
    table {
      width: 90%;
      margin: auto;
      border: $blueBorder;
      thead {
        text-decoration: underline 1px solid $marronLight;
        color: $marronLogo;
        font-family: $button;
        font-size: 1.5em;
        padding: 2%;
      }
      tbody {
        font-family: $textOne;
        font-size: 1.3em;
        width: 80%;
      }
    }
  }
  .gestionAdmingestionHotel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 5% auto 5%;
    .gestionAdmingestionHotelExplain {
      width: 40%;
      margin: auto;
      text-align: center;
      h4 {
        margin: auto;
      }
      p {
        margin-top: 3%;
        font-size: 1.2em;
        font-family: $textOne;
      }
    }
    .gestionAdmingestionHotelButtons {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        margin: 8%;
        text-align: center;
        width: 80%;
        height: 10%;
        a {
          text-align: center;
          font-size: 1.2em;
        }
      }
    }
  }
  .backTable {
    .backAdminTable {
      background-image: url('../../public/picture/banque-image/back/back-tableUser-responsive3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-bottom: 5%;
      table {
        margin-top: 5%;
        margin-bottom: 5%;
      }
      tbody {
        margin: auto;
      }
    }
    button {
      width: 20%;
      height: 5%;
      margin-left: 50%;
    }
  }
  .gestionAdminTableManagerUpdate {
    table {
      border: 1px solid $blueBorder;
      padding: 1.1em;
      margin: auto;
      width: 80%;
      .emails {
        font-family: $button;
      }
    }
  }

  //Gestion MANAGER
  .gestionManagerHotel {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    p {
      width: 45%;
      font-size: 1.2em;
      font-family: $button;
      background-color: $blueNav;
      text-align: center;
    }
    img {
      width: 40%;
      height: 40%;
      max-height: 40%;
      max-width: 40%;
    }

  }
  .hotel {
    h4 {
      margin: 10% auto;
      text-align: start;
    }
  }
  .galerieManager {
    .galerieManagerList {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      img {
        width: 30%;
        height: 30%;
        max-width: 30%;
        max-height: 30%;
        margin: 2%;
      }
    }
    .galerieManagerButton {
      width: 80%;
      button {
        margin: auto;
      }
    }
  }
  //Gestion USER
}                //Page gestion//
.customFormPic {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/register-pick.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;

  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
}          //Forms//
.customFormpic2 {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/back-customPic2.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  legend {
    display: none;
  }
  input {

  }
}
.customFormManager {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/manager.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  form {
    margin: auto auto auto 10%;
    width: 60%;
  }
}
.customContactUsPic {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/picture-form/contact-us.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 60%;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
  margin: auto;
  width: 60%;
  }
}
.customChangePasswordBack {
  background-image: url("../../public/picture/banque-image/picture-form/back-change-password2.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: 100%;

  .formCustomChangePass {
    margin-top: 15%;
    margin-bottom: 15%;
    min-height:100%;
    position:relative;
    width: 80%;
  }


  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  form {
    margin: auto;
    width: 60%;
  }
}
.loginForm {
  background-image: url("../../public/picture/banque-image/picture-form/register-pick.jpg");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 70%;
  margin: auto;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  label {
    font-family: $subTitle;
    font-size: 22px;
    background-color: white;
    color: $blueBorder;
  }
  .form-group {
    width: 80%;
    margin: auto;
  }
  .email {
    margin-top: 20%;
  }
  .password {
    margin-bottom: 20%;
  }
  .errorLogin {
    background-color: white;
  }
  #emailHelp {
    background-color: white;
  }
}
.successOne {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/redirect/back-change-password.png");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .explainSuccess {
    margin-left: 15%;
    text-align: center;
      h3 {
        font-family: $subTitle;
      }
      p {
        font-family: $textOne;
      }
  }
  .buttonSuccess {
    margin: 5%;
    button {
      margin-top: 6%;
    }
  }
}              //Service-Success//
.successTwo {
  margin-top: 15%;
  margin-bottom: 15%;
  background-image: url("../../public/picture/banque-image/redirect/back-change-password2.png");
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .explainSuccess {
    margin-left: 15%;
    text-align: center;
    h3 {
      font-family: $subTitle;
    }
    p {
      font-family: $textOne;
    }
  }
  .buttonSuccess {
    margin: 4% 5%;

    button {
      margin-top: 6%;
    }
  }
}
.listButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  button {
    margin: auto;
  }
}
.titleCustom {
  width: 90%;
  margin: auto;
  .tittleList {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    vertical-align: bottom;
    margin: 5% auto 0px;
  }
  .title {
    font-size: 45px;
    background-color: $marronLight;
    text-align: center;
    font-family: $title;
    //: 2px solid #786f58;
    padding: 1%;
  }
  .littleTitle {
    background-color: $marronMedium;
    font-size: 20px;
    text-align: center;
    //border: 2px solid $marronDark;
    font-family: $subTitle;
    padding: 1%;
    color: white;
  }
  .barreHorizontale {
    position: relative;
    width: 90%;
    background-color: $marronMedium;
    height: 2px;
    float: top;
    margin: 0px auto 5%;
  }
}             //Titres//
h4 {
  text-align: center;
  color: $blueBorder;
  text-decoration: underline 2px $marronLogo;
  font-family: $title;
  font-size: 48px;
  margin-top: 5%;
  margin-right: 35%;
}
h5 {
  color: $blueBorder;
  text-decoration: underline 2px $marronLogo;
  font-family: $title;
  font-size: 1.5em;
}
.buttonNav {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  font-size: 1.4em;
  font-family: $button;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: auto;
  border: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $marronLight;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $marronMedium;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: $marronLogo;
  }
}               //Bouton nav//
.buttonAcceuil {
  background-color: transparent;
  border: 3px solid $blueBorder;
  box-sizing: border-box;
  color: #00132C;
  font-family: $button;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 13em;
  height: 5em;
  &:hover,
  &:active {
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
  &:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  &:hover:before {
    background-color: #6DCFF6;
  }
  a {
    font-family: $button;
    text-decoration: none;
    color: $blueBorder;
    font-size: 1.3em;
    font-weight: bold;
  }
}           //Bouton Acceuil//
.buttonSendForm {
  background: $marronLight;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    transform: scale(1.05);
  }
  &:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  &:focus {
    outline: 0 solid transparent;
  }
  &:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  &:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  &:focus:not(:focus-visible):before {
    border-width: 0;
  }
  &:not(:disabled):active {
    transform: translateY(.125rem);
    background-color: $marronDark;
  }
  a {
    text-decoration: none;
    color: $marronLogo;
    border: none;
  }
}          //Bouton SendForm//
.buttonOne {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: $button;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #79dfc3;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#79dfc3, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: #2c3034;
  }
}               //Autre Bouton ( a enlever ? )//
.customHotelButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7%;
}       //Bouton HOTEL:ID => Suites//
.card-hotel {
  border: 2px solid $marronLogo;
  width: 80%;
  margin: 5% auto 5% auto;
  background-color: $marronLight;
  .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    font-size: 1.6em;
    border: 2px solid $blueBorder;
  }
  .list-group {
    font-size: 1.3em;
    font-family: $button;
  }
  .card-text {
    font-size: 1.2em;
    font-family: $textOne;
  }
  img {
    width:100%;
    height:100%;
    display:block;
  }
}              //Card-Hotel(Acceuil)//
.hotel {
  .customHotel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 95%;
    .customHotemPictureButton {
      width: 80%;
      img {
        display: block;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .customHotelDescription {
      width: 40%;
      text-align: right;
      font-size: 1.3em;
      margin: 2%;

    }
  }
  .customHotelButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
    a {
      font-size: 1.3em;
    }
  }
  h4 {
    a {
      text-decoration: none;
      color: $blueBorder;
    }
  }
}                   //CustomCard//
.customHotelSuites{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  img {
    max-height: 100%;
    max-width: 100%;
    width:100%;
    height:100%;
  }
  .customHotelSuitesPictures {
    width: 48%;
    margin: auto;

    .customHotelelSuitesPictureList {
      display: flex;
      justify-content: space-between;
      margin-top: 2%;
      img {
        display: inline-block;
        margin: auto;
        width:32%;
        max-width:32%;
        height:32%;
        max-height:32%;
      }
    }
  }
  .customHotelSuitesList {
    width: 48%;
    margin: auto;
    text-align: end;
    h4 {
      text-align: end;
      margin: auto;
      a {
        text-decoration: none;
        color: $blueBorder;
      }
    }
  }

}        //Custom Suites de l'Hotels(ID)//
.backPic {
  background-image: url('../../public/picture/banque-image/back/responsiveBackFooter2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}                 //Background decoration//
.backCard {
  background-image: url("../../public/picture/banque-image/back/back-card2.png");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: 100%;
  width: 100%;
}
.backHotelId {
  background-image: url('../../public/picture/banque-image/back/back-hotel-id.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}
.backGestionManager {
  background-image: url('../../public/picture/banque-image/back/back-GestionManagerHotel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}
.barreHorizontaleTwo {
  position: relative;
  width: 70%;
  background-color: $marronMedium;
  height: 2px;
  float: top;
  margin: 0px auto 5%;
}     // Barre Horizontale 2//
.input-search-suite {
  float: right;
  margin-right: 15%;
  width: 250px;
  margin-bottom: 7%;
}
.ment-pol {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  width: 100%;

}

// Media Query (mobileFirst)//
@media screen and (min-width: 970px) {

  .backFooter {
    /*background-image: url("../../public/picture/banque-image/back/footer-back2.png");*/
    height: 25em;
    .listeFooter {
    }
  }
  nav {
    height: 20em;
  }
  .customHotel {
    margin: 15%;
  }
}
@media screen and (min-width: 1280px) {
  .listButtons {
    width: 70%;
  }
  .responsiveGestion {
    width: 80%;
    margin: auto;
  }
  .roomId {
    width: 70%;
  }
  .hotel {
    width: 75%;
    margin: auto;
  }
  .suiteIdGalerie {
    width: 70%;
  }
  .customHotelId {
    width: 75%;
  }
  .titleCustom {
    width: 70%;
    margin: auto;
  }
  .presentation {
    width: 65%;
    margin: auto;
  }
  .carousel {
    width: 50%;
  }
  .backPic {
    background-image: url('../../public/picture/banque-image/back/back-carousel-responsive.png');
  }
  .buttonAcceuil {
    width: 20em;
    height: 8em;
    padding: 16px 32px;
  }
  .responsiveCard {
    display: inline-block;
    position: center;
    width: 49%;
    margin: auto auto 3%;
  }
  .backTable {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    .backAdminTable {
      width: 50%;
    }
  }
  .customHotelIdExplain {
    width: 65%;
  }
  .customHotelSuites {
    width: 60%;
  }
  .customHotelButton {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;
  }
  .loginForm {
    width: 70%;
  }
  .customChangePasswordBack {
    background-image: url("../../public/picture/banque-image/back/back-responsiveChangePass.png");
  }
  .galerieManager {
    width: 70%;
    margin: auto;
  }
  .customHotelButton {
    .buttonAcceuil {
      font-size: 14px;
      width: 14em;
      height: 4.6em;
      a {
        font-size: 1.2em;
        margin: auto;
      }
    }
  }
  .gestionManagerHotel {
    width: 75%;
  }
  .gestionAdminTableHotelManager {
    table {
    width: 60%;
    }
  }
  .explainSuccess {
    width: 40%;
    margin: auto;
  }
}
@media screen and (min-width: 1450px) {
  nav {
    background-image: url("../../public/picture/banque-image/nav-footer/BackNav-BlueResponsiveDesktop2.png");
  }
}




