{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}


{% block body %}
    <h1>Gestion MANAGER</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <button type="button"><a href="{{ path('app_suite_create') }}">Creation Suite</a></button>
{% endblock %}
