{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}


{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Page de gestion</h2>
            <h3 class="littleTitle">Manager</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>



    <button type="button"><a href="{{ path('app_suite_create') }}">Creation Suite</a></button>
    <button type="button"><a href="{{ path('app_manager_change_password', { 'id' : app.user.id}) }}">Changement mdp</a></button>
    <button type="button"><a href="{{ path('app_picture_list') }}">Creation PictureList</a></button>



    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Vos suite</h2>
            <h3 class="littleTitle">Hotel</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>


    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Ajouter des photos</h2>
            <h3 class="littleTitle">Suite</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
{% endblock %}
