{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Mentions Légales</h2>
            <h3 class="littleTitle">Information</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="hotelId">
        <div class="backHotelId">
            <h4>Information primordiale</h4>
            <p>Ce site n'est qu'un projet fait durant ma formation à l'école Studi.</p>


            <h4>Édition du site</h4>

            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique,
                il est précisé aux utilisateurs du site internet https://hypnos.herokuapp.com l'identité des différents intervenants dans le cadre de sa réalisation et
                de son suivi: Propriétaire du site : Hugo Dessauw - Contact : contact@contact.com 04 68 04 04 04 - Adresse : 14027. Identification de l'entreprise : SAS PROJET PERSONNEL  de 50000€ - SIREN : aze4181961azea1z9 - RCS ou RM : - Adresse postale : 14027 - https://hypnos.herokuapp.com/mentions-legales Directeur de la publication : - Contact : . Hébergeur : AutreHeroku Délégué à la protection des données : Hugo DESSAUW - contact@contact.com Autres contributeurs : Hugo DESSAUW Concepteur application WEB
            </p>
            <h4>Propriété intellectuelle et contrefaçons.</h4>
            <p>
                Sandrine Coupart est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Sandrine Coupart. Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
            </p>
            <h4>Limitations de responsabilité.</h4>
            <p>Sandrine Coupart ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site https://Mangez-bien!.com. Sandrine Coupart décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur https://Mangez-bien!.com. Sandrine Coupart s’engage à sécuriser au mieux le site https://Mangez-bien!.com, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu. Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. Sandrine Coupart se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Sandrine Coupart se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>
            <h4>CNIL et gestion des données personnelles.</h4>
            <p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site https://Mangez-bien!.com dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Hugo DESSAUW - contact@nutrition.com. Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre https://Mangez-bien!.com/politique-confidentialité. [Consignes : ajoutez ici le lien hypertexte vers votre politique de confidentialité]</p>
            Liens hypertextes et cookies</h4>
            <p>Le site https://Mangez-bien!.com contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers https://Mangez-bien!.com. La navigation sur le site https://Mangez-bien!.com est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple. Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement. Les cookies sont enregistrés pour une durée maximale de mois. Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre https://Mangez-bien!.com/politique-confidentialité. [Consignes : ajoutez ici le lien hypertexte vers votre politique de confidentialité ou vers votre politique de cookies si vous en avez une (c'est le cas si vous utilisez Complianz)]</p>
            <h4>Droit applicable et attribution de juridiction.</h4>
            <p>Tout litige en relation avec l’utilisation du site https://Mangez-bien!.com est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Caen.
            </p>

        </div>
    </div>
{% endblock %}