{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="titleCustom">
        <div class="tittleList">
            <h2 class="title">Mentions Légales</h2>
            <h3 class="littleTitle">Information</h3>
        </div>
        <div class="barreHorizontale"></div>
    </div>
    <div class="hotelId">
        <div class="backHotelId">
            <h4>
                Collecte de vos Données personnelles
            </h4>
                <p>
                    En tant que visiteur du Site, vous pouvez participer à toutes sortes d’activités sans fournir aucune Donnée personnelle.
                    Toutefois, lorsque vous vous inscrivez pour utiliser un site Shutterstock et commandez des produits ou des services en tant qu’abonné Shutterstock, pour vous fournir les services en question, nous pouvons collecter les Données personnelles suivantes :
                </p>
                <ul>
                        <li>Coordonnées telles que votre nom, vos numéros de téléphone et de fax, votre adresse postale et votre adresse e-mail.</li>
                        <li>Informations de facturation telles que le numéro, la date d’expiration et le type de carte bancaire que vous utilisez, ainsi que l’adresse associée à cette carte.</li>
                        <li>Informations démographiques telles que l’intitulé de votre poste, votre description de poste, le nom et le type d’entreprise pour laquelle vous travaillez.</li>
                        <li>Des données de profil, y compris votre nom d’utilisateur et votre mot de passe, des détails sur vos achats et le Contenu que vous achetez sous licence chez nous.</li>
                        <li>Lorsque vous envoyez du contenu à Shutterstock à utiliser sous licence, les informations suivantes peuvent vous être demandées :</li>
                    </ul>
                <p>
                    Coordonnées telles que votre nom, votre numéro de téléphone, votre adresse postale et votre adresse e-mail.
                    Des informations relatives au contributeur et au paiement, y compris, mais sans s’y limiter, le moyen de paiement, l’e-mail associé au paiement, le nom d’affichage souhaité, l’objectif du contenu, l’équipement photo utilisé, ainsi que votre niveau de compétences et votre processus créatif.
                    Selon l’activité, certaines des informations que nous vous demandons de nous fournir sont à caractère obligatoire et d’autres à caractère facultatif. Si vous ne communiquez pas les données à caractère obligatoire relatives à une activité particulière, vous ne pourrez pas participer à cette activité.
                    Comme sur la plupart des sites web, quand vous utilisez le Site, Shutterstock ou les sous-traitants tiers sous contrat avec Shutterstock peuvent aussi recueillir certaines informations d’ordre technique ou de routage au sujet de votre ordinateur, afin d’améliorer votre utilisation du Site et des services. Par exemple, nous pouvons consigner des renseignements sur votre environnement, comme le type de navigateur, le système d’exploitation, la vitesse du processeur et l’adresse IP de votre ordinateur. Nous utilisons ces variables pour faciliter et suivre votre utilisation du Site et de ses services. Shutterstock s’en sert également pour évaluer le trafic du Site. Pour mieux cerner les besoins de nos visiteurs sur le Site, nous établissons parfois un lien entre ces données et vos Données personnelles.
                    Pour réduire le nombre d’erreurs dans notre base de données, authentifier les utilisateurs et éviter les emplois abusifs de notre système, nous pouvons parfois compléter les Données personnelles que vous nous fournissez par des informations provenant de sources tierces. Par exemple, nous pouvons compléter vos coordonnées par l’adresse fournie par le service postal des États-Unis afin de valider vos données et d’éviter les erreurs dans notre base de données. Nous pouvons compléter les informations que nous collectons directement auprès de vous par des informations stockées dans des bases de données tierces, par exemple des informations démographiques ou d’entreprise pour mieux cibler les contenus marketing que nous vous envoyons en fonction de vos centres d’intérêt. Vous trouverez ici une liste des sous-traitants tiers que nous sollicitons pour traiter les informations.
                    Lorsque vous téléchargez et utilisez nos Applications mobiles ou nos Services, nous recueillons automatiquement des données sur le type d’appareil que vous utilisez et la version de votre système d’exploitation. Nous ne vous demandons pas de pouvoir accéder à tout moment à des informations géolocalisées, ni de pouvoir les suivre, lors du téléchargement ou de l’utilisation de nos Applications mobiles ou de nos Services.
                </p>
            <h4>Mise à jour de vos données personnelles</h4>
                <p>ur demande, Shutterstock vous fournira un accès à vos Données personnelles en notre possession et des informations à ce sujet. Pour demander ces informations, contactez-nous à l’adresse privacy@shutterstock.com.
                    Vous avez le droit d'accéder à vos données personnelles et à vos préférences en matière de confidentialité et de les rectifier ou de les supprimer à tout moment. Pour ce faire, cliquez sur le lien « Mon compte ». Vous pouvez ensuite afficher et modifier immédiatement la plupart de vos Données personnelles. Si vous souhaitez supprimer votre compte ou demander à ce que nous n’utilisions plus vos informations pour vous fournir nos services, consultez le lien « Préférences de mon compte » sur le site et suivez les instructions sous la section « Supprimer mon compte ». Si vous êtes contributeur, vous pouvez modifier votre profil en cliquant ici. Pour des raisons de sécurité, certaines Données personnelles ne peuvent être modifiées qu'en contactant le service d'assistance. Nous répondrons à votre demande aussi vite que possible.</p>
            <h4>Utilisation de vos Données personnelles</h4>
                <p>
                    Shutterstock collecte des informations vous concernant afin de vous fournir des services, de remplir ses obligations et d’améliorer ses produits et services. Nous ne vendons pas, ne louons pas et ne communiquons pas d’informations permettant de vous identifier à des tiers autrement que conformément à cette Politique de confidentialité. Shutterstock peut utiliser ces informations :
                </p>
                        <ul>
                            <li>Authentifier et fournir l’accès aux sites web, applications mobiles et services de Shutterstock.</li>
                            <li>Traiter vos transactions financières.</li>
                            <li>Vous envoyer des confirmations de commande/renouvellement.</li>
                            <li>Enregistrer vos droits, le cas échéant, auprès d’une assistance technique ou d’autres avantages proposés aux utilisateurs inscrits.</li>
                            <li>Répondre aux demandes, questions et préoccupations envoyées au service client.</li>
                            <li>Gérer votre compte.</li>
                            <li>Envoyer l’information que vous aviez demandée à propos d’un service ou d’un produit.</li>
                            <li>Vous tenir informé des offres spéciales et des services de Shutterstock et des tiers sélectionnés.</li>
                            <li>Gérer les promotions et les tirages au sort auxquels vous participez et vous informer des résultats.</li>
                            <li>Enquêter sur, prévenir ou prendre des mesures à l’égard de toute activité illégale ou toute violation de nos Conditions d’utilisation du service.</li>
                            <li>Répondre à nos besoins en matière de recherche et développement de produits ou services et améliorer notre Site, nos services et nos offres.</li>
                            <li>Nous stockons les informations que nous recueillons via les cookies, les fichiers journaux, les images transparentes ou les sources extérieures afin de créer un résumé de vos préférences. Nous associons vos données personnelles ou l’historique d’utilisation de votre abonnement aux informations du résumé de vos préférences dans le but de vous proposer des promotions et des offres commerciales adaptées, d’améliorer le contenu du site ou de déterminer vos préférences.</li>
                            <li>Personnaliser votre expérience, notamment les services, les résultats de recherche et les offres que nous vous proposons.</li>
                        </ul>
                <p>
                    Dans certaines situations, conformément aux obligations légales, la société Shutterstock peut être tenue de divulguer des données à caractère personnel à la demande des autorités publiques, y compris pour se conformer aux obligations en matière de sûreté nationale ou d’application de la loi.
                    Lorsque la loi l’exige (p. ex. dans le cadre d’une citation à comparaître, d’un mandat, d’une décision de justice ou d’une procédure judiciaire à l’encontre de Shutterstock) et quand nous pensons qu’une telle divulgation est nécessaire pour protéger nos droits, éviter un litige, assurer votre sécurité et celle d’autrui, enquêter sur une fraude et/ou répondre à une demande administrative. Nous pouvons également divulguer des informations vous concernant afin de nous conformer à nos obligations légales si nous considérons qu’une telle divulgation devrait être réalisée pour des questions de sécurité nationale, d’application de la loi ou toute autre question d’intérêt public.
                </p>
            <h4>Conservation et portabilité des données</h4>
                <p>Nous conserverons vos informations aussi longtemps que votre compte sera actif. Nous en avons notamment besoin pour vous fournir des services, valider ou faire respecter les autorisations d’utilisation du Contenu, le cas échéant, ou respecter nos obligations légales. Si vous souhaitez supprimer votre compte ou demander à ce que nous n’utilisions plus vos informations pour vous fournir nos services, consultez le lien « Préférences de mon compte » sur le site et suivez les instructions sous la section « Supprimer mon compte ». Si vous ne parvenez pas à accéder à votre compte, veuillez envoyer un e-mail à l’adresse privacy@shutterstock.com. Nous traiterons votre demande sous 30 jours. Nous conserverons et utiliserons vos informations, s'il y a lieu, pour nous conformer à nos obligations juridiques, résoudre des litiges et honorer nos contrats.
                    Si vous possédez du Contenu sous licence de Shutterstock, vous pouvez consulter votre historique des licences dans l’historique des licences.
                    Vos choix (Se désinscrire)
                    Shutterstock ne vend pas vos données ou informations personnelles à des tiers. Nous utilisons des services publicitaires tiers pour gérer les publicités que nous effectuons sur d’autres sites. Notre partenaire tiers est susceptible d’utiliser des technologies, telles que des cookies et des outils de web tracking, pour recueillir des informations à propos de vos activités sur ce site et d’autres sites, afin d’afficher des publicités basées sur vos activités de navigation et vos centres d’intérêt. Si vous ne souhaitez pas que ces informations soient utilisées pour afficher des annonces en fonction de vos centres d’intérêt, vous pouvez l’indiquer explicitement en cliquant ici (si vous résidez dans l’Union européenne, cliquez ici). Notez que cela n’empêche en aucun cas l’affichage de publicités. Vous continuerez de recevoir des publicités génériques.
                    Shutterstock utilisera uniquement vos informations aux fins décrites dans la présente Déclaration de confidentialité et n’utilisera pas vos données personnelles à des fins sensiblement différentes sans votre autorisation expresse.
                    Vous pouvez demander à ne plus recevoir les actualités, les newsletters de Shutterstock ou les e-mails de nos partenaires. Pour cela, cliquez sur le lien « Mon compte » sur le Site et choisissez les options en conséquence. Vous pouvez généralement refuser ces communications au moment de l’inscription. Shutterstock continuera à vous contacter en cas de modification des Conditions d’utilisation du service ou des Conditions d’utilisation du service pour les contributeurs. En outre, nous continuerons à vous envoyer les annonces liées aux services, y compris, mais sans s’y limiter, un e-mail concernant une inscription, des e-mails relatifs à des avantages proposés, des e-mails automatiquement envoyés lorsque vous effectuez certaines actions sur le Site et des avis relatifs aux factures. En règle générale, vous ne pouvez pas vous soustraire à ces communications qui n’ont pas de caractère promotionnel en soi. Si vous ne souhaitez pas les recevoir, vous pouvez désactiver votre compte.
                    Si vous utilisez une appli mobile Shutterstock, vous pouvez recevoir occasionnellement des notifications push de notre part vous informant de tout événement ou promotion que nous pourrions mettre en place. Si vous ne souhaitez plus recevoir ce type de communications, vous pouvez les désactiver dans les réglages de votre appareil.
                    Pour demander la suppression de vos Données à caractère personnel de nos systèmes et/ou l’interruption du traitement ultérieur de vos Données à caractère personnel, rendez-vous sur la page « Mon compte – Préférences » et suivez les instructions figurant dans la section intitulée « Supprimer les données à caractère personnel ». Si vous ne parvenez pas à accéder à votre compte, veuillez envoyer un e-mail à l’adresse privacy@shutterstock.com.</p>
        </div>
    </div>
{% endblock %}